<div class="header">
  <div class="logo">
    <h1><a href="#">Gurdzain's Blog</a></h1>
    <h2></h2>
  </div>
  <div class="nav">
    <ul>
      <li><a href="#">hack</a></li>
      <li><a href="#">技术</a></li>
      <li><a href="#">随感</a></li>
      <li><a href="#">首页</a></li>
      <div class="clear"></div>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>