<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Title</title>
</head>
<body>
<% include header.ejs %>
<div class="content">
    <div class="main-content">
        <div class="wrapper">
            <ul>
                <% for (var i=0;i<file.length;i++){%>
                    <li><span><%= file[i]['time']%> - </span><a href="detail/<%=file[i]['_id']%>"><strong><%=file[i]['title'] %></strong></a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <% include siderbar.ejs %>
    <div class="clear"></div>
    <div class="footer">
        @ 2016 JK-zzz
    </div>
</div>
</body>
</html>