<div class="sidebar">
  <div class="search">
    <form action="#">
      <input type="text">
      <i class="icon-search"></i>
    </form>
  </div>
  <div class="tag-title">
    <h3>Tag</h3>
  </div>
  <div class="tag">
    test
  </div>
  <div class="tag-title">
    <h3>Friendly</h3>
  </div>
  <div class="friend">
    <a href="http://baidu.com">百度</a>
    <a href="http://baidu.com">谷歌</a>
    <a href="http://baidu.com">wooyun</a>
    <a href="http://baidu.com">Test</a>
  </div>
</div>
<div class="clear"></div>